PORT=3333
HOST=0.0.0.0
NODE_ENV=development
APP_KEY=HlXTYAwNBartENRQOr1S78yjxglDIlao
DRIVE_DISK=local

FIREBASE_PROJECT_ID=
FIREBASE_API_KEY=
FIREBASE_APP_ID=

BULL_REDIS_HOST=
BULL_REDIS_PORT=
BULL_REDIS_PASSWORD=