<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>812851367729-pt7tnbfcuida2k89nvkg5bu8jltulab3.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.812851367729-pt7tnbfcuida2k89nvkg5bu8jltulab3</string>
	<key>API_KEY</key>
	<string>AIzaSyCRMb0HbCHHTI__kJt-wmYShT_py89iYFQ</string>
	<key>GCM_SENDER_ID</key>
	<string>812851367729</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.dqrtech</string>
	<key>PROJECT_ID</key>
	<string>dqrtech-9c9c7</string>
	<key>STORAGE_BUCKET</key>
	<string>dqrtech-9c9c7.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:812851367729:ios:00cd681eda22137d846a10</string>
</dict>
</plist>